# Environment variables
.env
.env.*
!.env.example

# SQLite
*.sqlite

# Uploads
uploads/*
!uploads/.htaccess

# Composer
vendor/

# PHPUnit
api/.phpunit.result.cache
api/tests/test.sqlite
api/tests/uploads/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
